body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795)), url(../img/equalizer.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0px !important;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(34, 2, 27);
    max-height: 680px;
    background: white;
    border-radius: 5px
}

.body {
    width: 100%;
    height: 100%;
    max-height: 460px;
    border-bottom: 1px solid teal;
    background: url(../img/dark.jpg);
    background-size: cover;
    background-position: center
}

.controls {
    width: 100%;
    height: 100%;
    max-height: 120px;
    border-bottom: 1px solid sienna;
    background: #ccc;
    display: flex;
}

.detail {
    width: 100%;
    height: 100%;
    max-height: 95px;
    border-top: 1px solid teal;
    display: flex;
    background: rgb(7, 2, 19);
    color: white
}

.controls:after,
.controls:before,
.details:after,
.details:before {
    display: table
}

.mini-containers {
    position: relative;
    min-height: 1px;
    margin: 20px auto;
    padding: 20px 15px;
}

.mini-containers.play {
    position: relative;
    min-height: 1px;
    margin: 20px auto;
    padding: 0px 15px;
}

.mini-containers.details {
    position: relative;
    max-height: 75px;
    margin: 20px auto;
    padding: 10px 15px;
}

.fa-folder-open {
    margin-top: 10px
}

#song-title {
    color: rgb(110, 110, 212)
}

.volumeSlider {
    float: right;
    margin-right: 20px;
    color: white;
    padding: 30px 10px;
}

.fa-volume-up,
.fa-volume-down {
    color: white !important;
    position: absolute;
    margin-top: 5px
}

.fa {
    color: rgb(37, 8, 37);
    cursor: pointer
}

.song {
    background: rgba(1, 1, 29, 0.452);
    color: white;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 250px;
    padding: 0 5px;
    margin-top: 30px
}